body{
    font-family: 'Courier New', Courier, monospace;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.intro{
    display: flex;
    color:white;
    height:100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
        url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg');
    background-size:cover;
    
}

.typing{
    margin-left: 15px;
    position: relative;
}

.typing::after{
    content:"";
    position:absolute;
    right:-5px;
    width: 1px;
    height: 3.5%;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}